<div class="student-card" *ngIf="studentInfo">
  <div class="info-box">
    <label>Adı Soyadı:</label>
    <span>{{ studentInfo.studentName }} {{ studentInfo.studentSurname }}</span>
  </div>
  <div class="info-box">
    <label>Öğrenci Numarası:</label>
    <span>{{ studentInfo.studentNo }}</span>
  </div>
  <div class="info-box">
    <label>Danışman Bilgileri:</label>
    <span>{{ studentInfo.advisorFullName }}</span>
  </div>
  <div class="info-box">
    <label>Bölümü:</label>
    <span>{{ studentInfo.departmentName }}</span>
  </div>
  <div class="info-box">
    <label>Programı:</label>
    <span>{{ studentInfo.programName }}</span>
  </div>
</div>