<mat-drawer-container class="og-bilgi-create">
    <mat-drawer-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <!-- Student No Column -->
              <ng-container matColumnDef="StudentNo">
                <th mat-header-cell *matHeaderCellDef> Student No </th>
                <td mat-cell *matCellDef="let element"> {{ element.studentNo }} </td>
              </ng-container>
          
              <!-- Student Name Column -->
              <ng-container matColumnDef="StudentName">
                <th mat-header-cell *matHeaderCellDef> Student Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.studentName }} </td>
              </ng-container>
           
              <!-- Department Name Column -->
              <ng-container matColumnDef="DepartmentName">
                <th mat-header-cell *matHeaderCellDef> Department Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.departmentName }} </td>
              </ng-container>
                   
              <!-- Address Column -->
              <ng-container matColumnDef="notebookUrl">
                <th mat-header-cell *matHeaderCellDef> Notebook Url </th>
                <td mat-cell *matCellDef="let element"> {{ element.notebookUrl }} </td>
              </ng-container>
          
              <!-- Email Column -->
              <ng-container matColumnDef="approvalStatus">
                <th mat-header-cell *matHeaderCellDef> Approval Status </th>
                <td mat-cell *matCellDef="let element"> {{ element.approvalStatus }} </td>
              </ng-container>
          
              <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <!-- Paginator -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of elements">
            </mat-paginator>
          </div>
          
    </mat-drawer-content>
  </mat-drawer-container>
  